<header>
  <nav>
    <a href="/listings">
      <div class="logo">AirbnbClone</div>
    </a>
    <ul>
      <li><a href="/listings">Home</a></li>
      <li><a href="#">Explore</a></li>
      <li><a href="/listings/new">New</a></li>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>
</header>
